#about {
    background-color: #fff;
    border-top: 5px solid #ff7a8a;
}

#about h2 {
    color: #ff7a8a;
}

#about article:not(:last-child) {
    margin-bottom: 5rem;
}

#about .img-border {
    border: 5px double #185081;
    margin: 1rem;
}

#about img {
    max-width: 100%;
    height: auto;
    position: relative;
    top: 20px;
}

#about .img-left {
    left: 20px;
    box-shadow: 3px 3px 3px rgb(0 0 0 / 60%);
}

#about .img-right {
    right: 20px;
    box-shadow: -3px 3px 3px rgb(0 0 0 / 60%);
}