/*************** 
Fonts 

font-family: 'Gruppo', cursive;
***************/

/*************** 
Colors

Black: 231F20
Navy: 185081
Pink: ff7a8a
Offwhite: f9f9f9
***************/

body {
    background-color: #eee;
    color: #231F20;
    font-family: 'Gruppo', cursive;
    font-size: 1.25rem;
    padding-top: 53px;
}

.page-container {
    max-width: 1920px;
    margin: auto;
    background-color: #000;
    position: relative;
}

section {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

h2 {
    font-size: 3rem;
}

hr {
    border-top: 3px double #ff7a8a;
    width: 50%;
    margin: 2rem auto;
    background-color: transparent;
    opacity: 0.8;
}

/*************** 
Links 
***************/
a {
    color: #ff7a8a;
    text-decoration: none;
}

a:hover,
a:active,
a:focus {
    color: #ffb3bb;
}

/*************** 
Buttons
***************/
.btn.btn-primary {
    background-color: #ff7a8a;
    border: none;
    padding: 0.5rem 2rem;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.btn.btn-primary:hover,
.btn.btn-primary:active,
.btn.btn-primary:focus {
    background-color: #ffb3bb;
}

/*************** 
Images
***************/
.photo-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,0.7);
}

/*************** 
Interior Content
***************/
.interior-hero {
    padding-top: 3rem;
    padding-bottom: 3rem;
}
