.navbar {
    background-color: #113a5d;
    color: #fff;
}

.navbar-light .navbar-nav .nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-brand {
    color: #fff;
}

.navbar-collapse {
    flex-grow: 0;
}