h2 {
    color: #fff;
}

main {
    background-color: #231F20;
    padding-bottom: 3rem;
}

.portfolio-projects {
    padding-top: 5rem;
}

.project img {
    border-radius: 15px;
    box-shadow: 2px 2px 5px 2px rgba(0,0,0,0.3);
}

@media (min-width: 1200px) {
    .project {
        transform: rotate(-45deg);   
        width: 75%;
        transition: all .5s ease;
        margin: auto;
        margin-bottom: 2rem;
        position: relative;
    }

    .overlay {
        position: fixed;
        height: 100%;
        width: 100%;
        background-color: transparent;
        top: 0;
        left: 0;
        transition: all .5s ease-in-out;
      }

      .onTop {
        z-index: 1000;
      }
      .showOverlay{
        background-color: rgba(0,0,0,0.75);
        z-index: 1;
      }

    .project:hover {
        transform: rotate(0deg) scale(1.5);
        z-index: 2;
    }

    .project:hover h3 {
        color: #fff;
        text-shadow: 1px 1px 3px rgba(0,0,0,0.8);
    }
}
